@import "./reset.scss";
@import "./responsiveMixin.scss";
@import "./variables.scss";

.heading {
  font-size: var(--h1);
  font-weight: 300;
  color: var(--red);
  text-transform: uppercase;
  padding: 1rem 0rem;
  line-height: 1.2;
}
