@import "./reset.scss";
@import "./responsiveMixin.scss";
@import "./variables.scss";

.container {
  width: 90%;
  max-width: 1500px;
  box-shadow: 0px 0px 5px rgba(#272932, 0.4);
  margin: 5rem auto 3rem auto;
  padding: 5rem;
  border-radius: 10px;
  @include respond(medium) {
    padding: 3rem;
  }

  @include respond(smallest) {
    padding: 1rem;
  }
  .intro {
    padding-bottom: 1rem;
    margin: 0 2rem;
    border-bottom: 1px solid rgba(#272932, 0.1);

    h1 {
      font-size: var(--h1);
      font-weight: 300;
      color: var(--red);
      text-transform: uppercase;
      padding: 1rem 0rem;
      line-height: 1.2;
    }

    p {
      font-size: var(--button);
      padding: 0rem 0rem;
      font-weight: 400;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin: 0 auto;
    gap: 2rem;
    margin-top: 4rem;

    @include respond(large) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include respond(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(small) {
      gap: 0rem;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1rem;

      .svgs {
        width: 50px;
        height: 50px;
        @include respond(medium) {
          width: 40px;
          height: 40px;
        }
        @include respond(small) {
          width: 30px;
          height: 30px;
        }
      }

      p {
        font-size: var(--caption);
        margin-top: 1rem;
      }
    }
  }

  .icon-data {
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 1rem;

    @include respond(medium) {
      grid-template-columns: 1fr;
    }
    div {
      h6 {
        font-size: var(--h6);
        font-weight: 700;
      }

      p:nth-of-type(1) {
        font-size: var(--body);
        margin: 1rem 0;
      }
      p:nth-of-type(2) {
        font-size: var(--caption);
        a {
          color: var(--blue);
        }
      }
    }
  }
}
