@import "./reset.scss";
@import "./responsiveMixin.scss";
@import "./variables.scss";

.navigation {
  display: flex;
  height: 8rem;
  padding: 0 10rem;
  justify-content: space-between;
  align-items: center;

  @include respond(small) {
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    margin-top: 1rem;
  }

  img {
    width: 200px;
    height: 45px;
  }

  ul {
    display: flex;

    @include respond(small) {
      margin-top: 2rem;
      width: 100%;
      justify-content: space-evenly;
    }

    li {
      list-style: none;
      font-size: var(--body);
      border-bottom: 1px solid transparent;

      a {
        color: var(--dark);
        text-decoration: none;
        transition: all 0.2s;
        padding-bottom: 1rem;

        &:hover,
        &:active {
          border-bottom: 1px solid var(--red);
          color: var(--red);
        }
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}
