$micro: 21.87em;
$smallest: 25em;
$small: 37.5em;
$medium: 56.25em;
$large: 80em;
$largest: 90em;
:root {
  // Colors
  --red: #f25f5c;
  --yellow: #ffca3a;
  --green: #8ac926;
  --blue: #1982c4;
  --dark: #272932;
  --white: #fff;

  --base-font: 62.5%;

  --h1: 7rem;
  --h2: 5.2rem;
  --h3: 4.2rem;
  --h4: 3.2rem;
  --h5: 2.6rem;
  --h6: 2rem;
  --subtitle: 1.8rem;
  --body: 1.6rem;
  --button: 1.4rem;
  --caption: 1.2rem;
  --note: 1rem;

  @include respond(small) {
    --h1: 5.2rem;
    --h2: 4.2rem;
    --h3: 3.4rem;
    --h4: 2.6rem;
    --h5: 2.2rem;
    --base-font: 55%;
  }
}
